.valid {
  color: green;
}

.width{
   width: 50%;
}
.logintop{
margin-top: 20px;
}

.login-input{
margin-top: 10px;
}

.valid:before {
  position: relative;
  left: 15px;
  content: "&#10004;";
}
        #viewData{
        color:blue;
        font-size:25px;
        font-family:Helvecia;
        font-style: italic;
        }